/*
   Author : yashraj ;
   Theme  : food- order website admin ;
   version: 1.0 ;

*/

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.wapper
{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center
{
    text-align: center;
}

.clearfix
{
    float: none;
    clear: both;
}

.tbl-full
{
    width: 100%;
}

.tbl-30
{
    width:50% ;
}


table tr th
{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td
{
    padding: 1%;
}

.red
{
    color: red;
}

.btn-primary
{
    background-color:#1e90ff;
    padding: 2%;
    margin: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover
{
    background-color: #3742fa;
}

.btn-pass
{
    background-color: #424092;
    padding: 2%;
    padding-top: 1%;
    margin: 2%;
    color: black;
    text-decoration: none;
    font-weight: bold; 
}

.btn-pass:hover
{
    background-color: #8083c9;
}

.btn-secondary
{
    background-color: #0a582a;
    padding: 2%;
    padding-top: 1%;
    margin: 2%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover
{
    background-color:#5b7463;
}

.btn-danger
{
    background-color: #ff4757;
    padding: 2%;
    padding-top: 1%;
    margin: 2%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover
{
    background-color:#ff6b81;
}
/* css for menu*/
.menu
{
    border-bottom: 1px solid gray;
}
.menu ul
{
    list-style-type: none;
}

.menu ul li
{
    display: inline;
    padding: 1%;
}

.menu ul li a
{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81 ; 
}

.menu ul li a:hover
{
    color: #ff4757;
}

/*  css for main content*/ 
.main-content
{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4
{
    width: 15%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

    


/* css for footer*/
.footer
{
    background-color:#2f3542;
    color: white;
}


/* css for login*/

.login
{
    border: 10px solid black;
    width: 30%;
    margin: 10% auto;
    padding: 2%;
}